@model List<DotWeb.Controllers.m_News>
@{
    ViewBag.Title = "LITA NEWS";
    ViewBag.BodyClass = "News";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@foreach (var i in Model)
{
    <figure class="news-list">
        <img src="@i.img_src" alt="@i.news_title">
        <a href="~/News/Content?id=@i.news_id"></a>
        <figcaption>
            <h3>@i.news_title</h3>
            @if (i.news_content != null)
            {//消息簡介，最多45字，多的加...
                if (i.news_content.Length > 45)
                {
                    <p>@i.news_content.Substring(0, 45) ...</p>
                }
                else
                {
                    <p>@i.news_content</p>
                }
            }
            <a href="~/News/Content?id=@i.news_id" class="btn float-r">Read More</a>
        </figcaption>
    </figure>
}