<!DOCTYPE html>
<html lang="zh-TW">
<!-- saved from url=(0014)about:internet -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title:@Resources.Res.System_FrontName</title>
    <meta name="keywords" content="@Resources.Res.Keywords">
    <meta name="description" content="@Resources.Res.Description">
    <script>
        var gb_approot = '@Url.Content("~")';
    </script>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="bookmark" href="/favicon.ico">
    <link href="~/Content/css/vendor/icomoon.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Fenix' rel='stylesheet'>
    <link rel="stylesheet" href="~/Content/css/grid.css">
    <link href="~/Content/css/vendor/toastr.css" rel="stylesheet" />
    @if (ViewBag.IsFirstPage)
    {
        <link href="~/Content/css/index.css?v=@CommWebSetup.CacheVer" rel="stylesheet">
    }
    else
    {
        <link href="~/Content/css/page.css?v=@CommWebSetup.CacheVer" rel="stylesheet">
    }
    @RenderSection("css", false)
</head>

<body class="@ViewBag.BodyClass">
    @* 登入畫面 *@
    <div id="login" class="modal">
        <div class="modal-content animate-top">
            <button onclick="document.getElementById('login').style.display='none'" class="btn-close icon-cross"></button>

            <form id="MLogin" class="tab-content">
                <header>會員登入</header>
                <div class="input-group">
                    <label class="input-group-addon icon-person" data-title="帳號"></label>
                    <input class="form-element" type="email" id="m_act" required placeholder="請輸入帳號(E-mail地址)">
                </div>
                <div class="input-group">
                    <label class="input-group-addon icon-lock2" data-title="密碼"></label>
                    <input class="form-element" type="password" id="m_pwd" required placeholder="請輸入密碼">
                </div>

                <div id="Validate" class="m-b-32"></div>

                <button class="btn" type="submit">登入</button>
                <a href="#MForgotPW" class="js-tab">忘記密碼</a>
            </form>

            <form id="MForgotPW" action="" class="tab-content">
                <header>忘記密碼</header>
                <div class="input-group m-b-32">
                    <label class="input-group-addon icon-paper-plane" data-title="E-mail"></label>
                    <input class="form-element" type="email" id="m_email" required placeholder="請輸入E-mail地址">
                </div>
                <button class="btn">送出</button>
            </form>
        </div><!-- modal-content //-->
    </div><!-- login //-->

    <div id="wrapper">
        <header id="header">
            <div class="wrap">
                <h1 class="logo" onclick="location.href='@Url.Content("~/index")'" title="回首頁" tabindex="-1">
                    @Resources.Res.System_FrontName
                </h1>
                <nav class="top-nav">
                    @if ((bool)ViewBag.IsLogin)
                    {
                        <span>
                            WELCOME, @ViewBag.MName
                            <ul class="list-inline font-sm">
                                <li><a href="~/User">[會員中心]</a></li>
                                <li><a href="~/User/Receipt_list">[查看訂單]</a></li>
                                <li><a href="~/Base/Login/Logout">[登出]</a></li>
                            </ul>
                        </span>
                    }
                    else
                    {
                        <button class="icon-user" id="Btn_Mlogin">會員登入</button>
                    }

                    <a class="icon-cart" href="~/Order/Cart">購物車<i class="cart-num" id="cart-num">@ViewBag.P_Count</i></a>
                    @* <a href="">Contact Us</a> *@
                </nav>
                <div id="menu" class="navbar">
                    <nav>
                        <a class="@(ViewBag.BodyClass == "AboutUs" ? "current" : "")" href="~/Home/AboutUs">利他精神</a>
                        <a class="@(ViewBag.BodyClass == "Quality" ? "current" : "")" href="~/Home/Quality">利他嚴選</a>
                        <a class="@(ViewBag.BodyClass == "Products" ? "current" : "")" href="~/Products">利他咖啡</a>
                        <a class="@(ViewBag.BodyClass == "Story" ? "current" : "")" href="~/Home/Story">利他故事</a>
                        <a class="@(ViewBag.BodyClass == "News" ? "current" : "")" href="~/News">最新消息</a>
                        <a class="@(ViewBag.BodyClass == "FAQ" ? "current" : "")" href="~/FAQ">常見問答</a>
                        <a class="@(ViewBag.BodyClass == "ContactUs" ? "current" : "")" href="~/Home/ContactUs">聯絡我們</a>
                    </nav>
                </div>
            </div><!-- wrap //-->
        </header>

        @RenderSection("Banner", required: false)

        <main id="main">
            @RenderBody()
        </main>

    </div><!-- wrapper //-->

    <footer id="footer">
        <dl class="foot-contact">
            <dt>
                <strong class="logo-s">LITA CAFE</strong>
                <span>幸福企業社</span>
                @* <span>統編 41446054</span> *@
            </dt>
            <dd>客服專線: 0979-777-270</dd>
            <dd>03-427-5832</dd>
            <dd>桃園市中壢區復興路161號4樓</dd>
            <dd><a href="mailto:litacafe9797@gmail.com">litacafe9797@gmail.com</a></dd>
        </dl>
        <div class="foot-social">
            <a href="https://zh-tw.facebook.com/lovelitacafe/" target="_blank">Facebook</a>
            @* <a href="">Youtube</a>
                <a href="">LINE</a> *@
        </div>
        <a href="#header" class="goTop"><i class="icon-arrow_upward"></i>BACK TO TOP</a>
    </footer>

    @*<script src="//code.jquery.com/jquery-latest.min.js"></script>
        <script src="~/Content/js/common.js"></script>
        <script src="~/Content/js/tab.js"></script>*@
    <script src="~/Scripts/googleReCAPTCHA.js"></script>
    <script src='https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit'></script>
    <script src="~/Scripts/build/app/vendors.js?v=@CommWebSetup.CacheVer"></script>
    <script src="~/Scripts/build/app/w-comm.js?v=@CommWebSetup.CacheVer"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>