@model DotWeb.Controllers.IndexContent
@{
    ViewBag.Title = "WELCOME";
    ViewBag.IsFirstPage = true;
    ViewBag.BodyClass = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section css {
    <link rel="stylesheet" href="~/Content/css/vendor/swiper.min.css">
}
@section scripts {
    <script src="~/Content/js/swiper/swiper.min.js"></script>
    <script>
        var swiper = new Swiper('#banner', {
            autoplay: 5000,
            speed: 1000,
            autoplayDisableOnInteraction: false
        });
    </script>
}
@section Banner {
    <div id="banner" class="swiper-container">
        <ul class="swiper-wrapper list-unstyled">
            @foreach (var i in Model.banner)
            {
                <li class="swiper-slide"><img src="@i.img_src"></li>
            }
        </ul>
    </div>
}


@* 廣告Banner *@
@* <section class="wrap jumbo">
        <img src="~/Content/images/Index/jumbo.jpg" alt="jumbo demo">
    </section> *@

@* youtube *@
<section class="wrap youtube">
    <iframe src="@Model.youtube_url" frameborder="0" allowfullscreen></iframe>
</section>

@* 最新消息 *@
<section class="wrap news">
    @foreach (var i in Model.news)
    {//最多3則
        <figure class="news-list">
            <img src="@i.img_src" alt="@i.news_title">
            <a href="~/News/Content?id=@i.news_id"></a>
            <figcaption>
                <h3>@i.news_title</h3>
                @if (i.news_content != null)
                {//消息簡介，最多45字，多的加...
                    if (i.news_content.Length > 45)
                    {
                        <p>@i.news_content.Substring(0, 45) ...</p>
                    }
                    else
                    {
                        <p>@i.news_content</p>
                    }
                }
                <a href="~/News/Content?id=@i.news_id" class="btn float-r">Read More</a>
            </figcaption>
        </figure>
    }
</section>

@* FB Banner *@
@* <section class="wrap fb-banner">
        <img src="~/Content/images/Index/FB-banner.gif" alt="FB Banner demo">
    </section> *@