@model  IEnumerable<DotWeb.Areas.Base.Controllers.DocInfo>

@using DotWeb.Areas.Base.Controllers;
@{
    Layout = "~/Views/Shared/Manage/RLayout.cshtml";
    ViewBag.MenuName = "系統設定";
    ViewBag.Caption = "系統操作教學";
}
@section IncludeScript{
    @Html.Partial("Manage/JSGlobalVar")
    <script src="~/Scripts/build/comminc.js"></script>
}
@section sidebar{
    @Html.Partial("Manage/vucMenu")
}
<ul class="breadcrumb">
    <li><i class="fa-caret-right"></i> @ViewBag.MenuName</li>
    <li><i class="fa-angle-right"></i> @ViewBag.Caption</li>
</ul>

<h3 class="h3">
    <span>系統操作教學</span>
</h3>

<div class="alert alert-warning w3-padding-tiny text-sm" role="alert">
    <p>影片開啟後，可點選 <i class="fa-arrows-alt"></i> 圖示，以全螢幕方式觀看。</p>
</div>

<ul class="list-link list-unstyled">
    @foreach (DocInfo doc in Model)
    {
        <li><a href="@doc.Link" target="new"><i>@doc.Sort</i>@doc.Momo</a></li>
    }
</ul>
