@using ProcCore.NetExtension;
@{
    Layout = "~/Views/Shared/Manage/RLayout.cshtml";
    ViewBag.BodyClass = "Login";
    ViewBag.IsFirstPage = true;
}
@section IncludeCSS{

}
@section IncludeScript{
    @* <script>
        var debug_account = '@ViewData["username"]';
        var debug_password = '@ViewData["password"]';
        var debug_validate = '@ViewData["validate"]';;
        var gb_approot = '@Url.Content("~")';
    </script>
    <script src="~/Scripts/cdn/jquery.min.js"></script>
    <script src="~/Scripts/googleReCAPTCHA.js"></script>
    <script src='https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit'></script>
    <script src="~/Scripts/build/app/vendors.js?v=@CommWebSetup.CacheVer"></script>
    <script src="~/Scripts/build/app/m_login.js?v=@CommWebSetup.CacheVer"></script>
    <script src="~/Scripts/cdn/jquery.loadmask.min.js"></script> *@

    // Google reCaptcha 驗證工具
    <script src='https://www.google.com/recaptcha/api.js'></script>
}

<h1 class="logo">
    <span class="name text-danger">@Resources.Res.System_Name</span>Web Manager
</h1>
<p class="copyright text-primary">@Html.Lang("copyright")</p>
@* <div class="login-box" id="login-box"></div> *@

<div class="login-box">

    <form class="form form-sm">

        <div class="form-group">
            <h3 class="h3">System Login</h3>
        </div>

        <div class="form-group">
            <label>帳號 Username</label>
            <input type="text" class="form-control" placeholder="帳號">
        </div>

        <div class="form-group">
            <label>密碼 Password</label>
            <input type="password" class="form-control">
        </div>

        <div class="form-group">
            <label>驗證碼 Code</label>

            @* Google reCaptcha 驗證工具 *@
            <div class="g-recaptcha" data-sitekey="6LcePAATAAAAAGPRWgx90814DTjgt5sXnNbV5WaW"></div>

        </div>

        <div class="form-group form-action text-xs-center">
            <button type="button" class="btn btn-sm btn-info" onclick="location.href='../Active/SysDemo/Order_list'">登入 LOGIN</button>
        </div>

    </form>

</div>