@model DotWeb.ResetPasswordViewModel
@{
    Layout = null;
}
@using ProcCore.NetExtension;
<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@Resources.Res.System_Name</title>
    <link rel="stylesheet" type="text/css" href="~/_Code/CSS/css/sys_index.css" />
    <script>
        var ajax_ResetPassword = '@Url.Action("ajax_ResetPassword")';
        var Info_Reset_Success = '@Html.Lang("Info_Reset_Success")';
        var code = '@Model.Code';
    </script>
    <script>
        var browserInfo = (function () {
            var ua = navigator.userAgent, tem,
            M = ua.match(/(opera|chrome|safari|firefox|msie|trident(?=\/))\/?\s*([\d\.]+)/i) || [];
            if (/trident/i.test(M[1])) {
                tem = /\brv[ :]+(\d+(\.\d+)?)/g.exec(ua) || [];

                var r = { browser: 'IE', version: (tem[1] || '') }
                return r;
            }
            M = M[2] ? [M[1], M[2]] : [navigator.appName, navigator.appVersion, '-?'];
            if ((tem = ua.match(/version\/([\.\d]+)/i)) != null) M[2] = tem[1];

            return { browser: M[0], version: M[1] };
        })();
        if (browserInfo.browser == 'IE' || browserInfo.browser == 'MSIE') {
            if (
                browserInfo.version == '8.0' ||
                browserInfo.version == '7.0' ||
                browserInfo.version == '6.0'
                ) {
                alert(ver_warn);
            }
        }
        console.log(browserInfo.browser, browserInfo.version);
    </script>
    @Scripts.Render("~/commJS")
    <script>
        var agApp = angular.module('angularApp', []);

        agApp.controller('ctrl', function ($scope, $http) {
            $scope.fd = {
                Code: code,
                Email: '',
                Password: '',
                ConfirmPassword: ''
            };

            $scope.submit = function () {
                $http.post(ajax_ResetPassword, $scope.fd)
                .success(function (data, status, headers, config) {
                    if (data.result) {
                        $scope.fd = {};
                        alert(Info_Reset_Success);
                    } else {
                        alert(data.message);
                    }
                });
            };

        });
    </script>
</head>
<body class="Index" ng-app="angularApp">
    <div id="container" ng-controller="ctrl">
        <div id="main">
            <h1 class="logo"><em>@Resources.Res.System_Name</em><span>Web Manager</span></h1>
            <p class="copyright">@Html.Lang("copyright")</p>
            <form class="admin" ng-submit="submit()">
                <fieldset class="login">
                    <h3><i class="fa-lock"></i>@Html.Lang("resetpassword")</h3>
                    <p>
                        <input class="col-xs-12" type="email" ng-model="@Html.ngName(x=>x.Email,"fd")" tabindex="1" placeholder="@Html.Lang(x=>x.Email)" required />
                    </p>
                    <p>
                        <input class="col-xs-12" type="password" ng-model="@Html.ngName(x=>x.Password,"fd")" tabindex="2" placeholder="@Html.Lang(x => x.Password)" required />
                    </p>
                    <p>
                        <input class="col-xs-12" type="password" ng-model="@Html.ngName(x=>x.ConfirmPassword,"fd")" tabindex="3" placeholder="@Html.Lang(x => x.ConfirmPassword)" required />
                    </p>
                    <p class="send">
                        <button class="btn-primary col-xs-12" tabindex="4" type="submit">
                            <i class="fa-key"></i>
                            @Resources.Res.Button_Sure
                        </button>
                    </p>
                </fieldset>
            </form>
        </div>
    </div>
</body>

</html>
