@{
    Layout = "~/Views/Shared/Manage/RLayout.cshtml";
}
@section IncludeCSS{

}
@section IncludeScript{
    @Html.Partial("Manage/JSGlobalVar")
    <script>
        var gb_menuname = '@ViewBag.MenuName';
        var gb_caption = '@ViewBag.Caption';
    </script>
    <script src="~/Scripts/build/app/m_change_password.js?v=@CommWebSetup.CacheVer"></script>
}
@section sidebar{
    @Html.Partial("Manage/vucMenu")
}
<ul class="breadcrumb">
    <li><i class="fa-caret-right"></i> @ViewBag.MenuName</li>
    <li><i class="fa-angle-right"></i> @ViewBag.Caption</li>         
</ul>